<p>With mobile:</p>
{{#dk-select value=something action="someAction" settings=settings class="spec-test-dk"}}
  {{#dk-option value="Something"}}Something{{/dk-option}}
  {{#dk-option value="sosoos" id="spec_sosoos"}}sosoos{{/dk-option}}
{{/dk-select}}

Value of Select: {{something}}

<p>Without mobile</p>
{{#dk-select}}
  <option value="">No mobile</option>
{{/dk-select}}
