<p>With mobile:</p>
{{#dk-select settings=settings}}
  <option value="">sososos</option>
  {{#x-option}}Something{{/x-option}}
{{/dk-select}}

<p>Without mobile</p>
{{#dk-select}}
  <option value="">No mobile</option>
{{/dk-select}}
